@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Playfair+Display:wght@400;700;900&display=swap');

$fs-0: 3.75rem; //60px
$fs-1: 2.5rem; //40px
$fs-2: 2rem; //32px;
$fs-3: 1.5rem; //24px;
$fs-4: 1.25rem; //20px;
$fs-5: 1.125rem; //18px
$fs-6: 1rem; //16px
$fs-7: .875rem; //14px

$ff-body: "Cormorant Garamond", sans-serif;
$ff-heading: "Playfair Display", serif;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

$clr-primary: coral;
$clr-secondry: navy;