<meta name="og:title" content="{% include 'header/uniqueTitle.njk' %}" />
<meta name="og:type" content="{{ 'article' if tags == 'post' else 'website' }}" />
<meta name="og:url" content="{{ site.host }}{{ page.url }}" />
<meta name="og:description" content="{{ description if description else site.description }}" />
<meta name="og:site_name" content="{{ site.name }}" />

<meta name="twitter:site" content="@TWITTERHANDLE"/>
<meta name="twitter:creator" content="@TWITTERHANDLE"/>
<meta name="twitter:title" content="{% include 'header/uniqueTitle.njk' %}"/>
<meta name="twitter:description" content="{{ description if description else site.description }}"/>

{% if twitterImage %}    
<meta name="image" property="og:image" content="{{ site.host }}{{ image }}" />
<meta name="twitter:image" content="{{ site.host }}{{ twitterImage }}" />
{% elseif image %}
<meta name="image" property="og:image" content="{{ site.host }}{{ image }}" />
<meta name="twitter:image" content="{{ site.host }}{{ image }}" />
{% else %}
<meta name="image" property="og:image" content="{{ site.host }}/assets/images/default-image-for-social-media-posts.png" />
<meta name="twitter:image" content="{{ site.host }}/assets/images/default-image-for-social-media-posts-twitter.png" />
{% endif %}
